.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-card {
  width: 100%;
  max-width: 500px;
  border: 1px solid #e0e0e0;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
}
.new-task-close-btn-container {
  /* width: 700px; */
  height: 50px;
  background: #f0f0f0;
  padding: 10px;
  text-align: right;
}
.close-btn:hover {
  border-color: red;
  background: rgba(255, 0, 0, 0.5);
}
.close-btn {
  padding: 7px;
  background: rgba(255, 0, 0, 1);
  font-weight: 700;
  color: white;
}
