.pill {
  padding: 5px 20px;
  min-width: 100px;
  display: inline-block;
  color: #fff;
  width: 100px;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: super;
  border-radius: 30px;
}
