.add-btn-container {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}
.add-btn {
  padding: 10px 15px;
  color: white;
  background: darkgreen;
}
.add-btn:hover {
  border-color: darkgreen;
  background: rgba(0, 100, 0, 0.61);
}
.table-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}

.custom-table {
  width: 100%;
  color: black;
  padding: 50px 10px 10px;
  box-shadow: 6px 6px 20px lightgrey;
  text-align: left;
}
th,
td {
  padding-left: 10px;
}

td {
  height: 70px;
  background: white;
}
.delete {
  color: red;
  padding: 5px;
  border: 1px solid red;
  background-color: white;
}
th {
  height: 80px;
  background-color: aliceblue;
}

.action-btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.actions {
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* delete modal styles */
.delete-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 25px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

.btn {
  width: 100%;
  max-width: 160px;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.confirm-btn {
  background-color: red;
  border: 1px solid transparent;
  color: #fff;
}
