.add-btn-container {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}
.add-btn {
  padding: 10px 15px;
  color: white;
  background: darkgreen;
}
.add-btn:hover {
  border-color: darkgreen;
  background: rgba(0, 100, 0, 0.61);
}
.table-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}

.task__list-body {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px;
  width: 930px;
  margin: 10px auto;
  height: 400px;
  align-items: center;
  overflow-x: scroll;
  padding: 0 25px;
}

.task__list-container {
  width: 100%;
  color: black;
  padding: 50px 10px 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 350px;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 2px 7px #e0e0e0;

  justify-content: space-around;
  padding: 12px;
  transition: 0.2s;
}

.task-container:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 1px 2px 15px #e0e0e0;
  border: 1px solid #e0e0e0;
}
.task-container > div {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  position: relative;
}

.action-btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}
span {
  color: #909090;
  margin-right: 10px;
}
.actions {
  min-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* delete modal styles */
.delete-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 25px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

.btn {
  max-width: 160px;
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  margin: 0 4px;
}

.confirm-btn {
  background-color: red;
  border: 1px solid transparent;
  color: #fff;
}
