.App {
  text-align: center;
}
button {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
  border: 2px solid;
  cursor: pointer;
}
